html, body {
  height: 100%;
  margin: 0;
}

body {
  background-color: coral;
  display: flex;
  justify-content: center;
  position: relative; /* Position the container relative to the body */
}

.container {
  position: absolute; /* Position the container absolutely within the body */
  top: 0; /* Align the container to the top */
  right: 0; /* Align the container to the left */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}

.item {
  padding: 10px;
  background-color: black;
}

h1 {
  text-align: center;
}

p {
  font-size: 20px;
  text-align: center;
}

img {
  max-width: 300px;
}
